<ion-header>
  <ion-toolbar class="shadow">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="pokedex/list"></ion-back-button>
    </ion-buttons>
    <ion-title>Pokemons</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="4" offset="6">
      <ion-spinner *ngIf="!pokemons" name="crescent"></ion-spinner>
    </ion-col>
  </ion-row>
  <ion-list class="mt-2">
    <ion-virtual-scroll [items]="pokemons">
      <app-pokemon *virtualItem="let pokemon" [pokemon]="pokemon"></app-pokemon>
    </ion-virtual-scroll>
  </ion-list>
</ion-content>
